name: Check PR

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Dependencies
        run: |
          sudo apt-get update 
          sudo apt-get install -y libnotify4 libnotify-bin

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      
      - name: Test with Maven
        run: ./mvnw -B verify

      - name: Test site generation
        run: ./mvnw -B site
